# Compiled Object files
*.o

# Editor backup
*~

# Executables
*.out
compilador

# Generados por bison y flex
parser.tab.h
parser.tab.c
lex.yy.c
*.output

# ensamblador generado por nuestro compilador
*.s

